parm {{ prmtop_name }}
{% if untangle_kind == "temperature" %}
trajin {{ first_replica_traj_name }} remdtraj remdtrajtemp {{ value }} trajnames {{ replica_traj_names }}
{% elif untangle_kind == "idx" %}
trajin {{ first_replica_traj_name }} remdtraj remdtrajidx {{ value }} trajnames {{ replica_traj_names }}
{% else %}
ERROR: Incorrect untangle kind
{% endif %}
trajout mdcrd format netcdf
run
exit
