{% extends "base.amber.in.jinja" %}
{% block body %}
imin = 0  ! Perform MD
dt = {{ timestep_ps }}  ! Timestep in ps
nstlim = {{ total_md_steps }}  ! Total MD steps
{% block md_body %}
{% endblock md_body %}
{% if shake %}
ntc = 2  ! SHAKE on H
ntf = 2  ! SHAKE on H
{% else %}
ntc = 1  ! no SHAKE
ntf = 1  ! no SHAKE
{% endif %}
{% if restart %}
irest = 1  ! Restart
ntx = 5  ! Restart
{% else %}
{% if temperature_init_kelvin %}
tempi = {{ temperature_init_kelvin }}
{% endif %}
irest = 0  ! Not a restart
ntx = 1  ! Not a restart
{% endif %}
{% if heating and umbrella_input_fpath %}
nmropt = 1  ! Changing scalars and applying harmonic restraints
{% elif heating %}
nmropt = 1  ! Changing scalars
{% elif umbrella_input_fpath %}
nmropt = 1  ! Applying harmonic restraints
{% else %}
nmropt = 0  ! Not changing scalars, not applying harmonic restraints
{% endif %}
{% endblock body %}

{% block heating %}
{% if heating %}
&wt
TYPE = 'TEMP0'  ! Heating
ISTEP1 = 0  ! Start heating from beginning of MD
ISTEP2 = {{ total_md_steps}}  ! Heat throughout all MD
VALUE1 = {{ temperature_start_kelvin }}  ! Heating start T
VALUE2 = {{ temperature_end_kelvin }}  ! Heating end T
/
{% endif %}
{% endblock heating %}
