{% extends "md.amber.in.jinja" %}
{% block md_body %}
ntt = 3  ! Langevin thermostat
gamma_ln = {{ friction_inv_ps }}  ! Langevin friction, in inverse ps
temp0 = {{ temperature_start_kelvin }}  ! Target T for thermostat, in K
{% endblock %}
