{% extends "md.amber.in.jinja" %}
{% block md_body %}
ntt = 11  ! Stochastic Berendsen thermostat
tautp = {{ temperature_tau_ps }}
temp0 = {{ temperature_start_kelvin }}  ! Target T for thermostat
{% endblock %}
