Control Namelist
&cntrl
{% block body %}
{% endblock %}
ntwx = {{ arrays_dump_interval }}  ! Trajectory output step interval
ntpr = {{ scalars_dump_interval_interval }}  ! Scalars output step interval
{% if dump_vel %}
ntwv = {{ arrays_dump_interval }}  ! Velocities output step interval
{% endif %}
{% if dump_force %}
ntwf = {{ arrays_dump_interval }}  ! Forces output step interval
{% endif %}
{% if restraint_selection is defined %}
ntr = 1  ! Use restraints
restraintmask = '{{ restraint_selection }}'  ! Restraint selection
{% if restraint_constant is defined %}
restraint_wt = {{ restraint_constant }}  ! Restraint constant in kcal/mol/Ang^2
{% endif %}
{% else %}
ntr = 0  ! No restraints
{% endif %}
{% if implicit_solvent is defined %}
cut = 9999  ! Infinite cutoff, for implicit solvent
igb = {{ implicit_solvent }}  ! Implicit solvent model
{% else %}
cut = {{ cutoff }}  ! Cutoff radius
{% endif %}
ioutfm = 1  ! Write trajectory array files in netcdf format
ntxo = 2  ! Write restart array files in netcdf format
iwrap = 0  ! Do not wrap coordinates in output
ig = {{ random_seed }}  ! Random seed
{% if torchani %}
iextpot = 2  ! Use torchani as an external potential
{% endif %}
/
{% block heating %}
{% endblock %}

{% if umbrella_input_fpath %}
&wt
TYPE = 'DUMPFREQ'  ! Set the umbrella restrained coord dump frequency
istep1={{ scalars_output_step_interval }}  ! Umbrella restrained coord output step interval
/
{% endif %}

{% if torchani %}
&extpot
extprog = "torchani"  ! Use ANI as an external potential
/

&ani
use_cuaev = {{ ani_use_cuaev }}  ! Toggle cuAEV extension
use_cuda_device = {{ ani_use_cuda }}  ! Toggle GPU use
cuda_device_index = {{ ani_device_idx }}  ! GPU index (-1 => CPU or first GPU)
use_double_precision = {{ ani_double_precision }}  ! Toggle float64
use_amber_neighborlist = {{ ani_amber_neighborlist }}  ! Toggle AMBER neighborlist
{% if use_all_amber_nonbond %}
use_all_amber_nonbond = .True.
{% endif %}
model_index = {{ ani_network_idx }}  ! Index of ANI network (-1 => full ensemble)
model_type = "{{ ani_model }}" ! String with torchani model
/
{% endif %}

{% if umbrella_input_fpath or heating %}
&wt
TYPE = 'END'  ! End weight-style namelists
/
{% endif %}
{% if umbrella_input_fpath %}
DISANG={{ umbrella_input_fpath }}
DUMPAVE={{ umbrella_output_fpath }}
{% endif %}
