parm {{ prmtop_fpath }}
trajin {{ traj_fpath }} {{ inital_frame }} {{ final_frame }} {{ sample_step }}
radial out {{ name }}.rdf.dat {{ bin_spacing_angstrom }} {{ length_max_angstrom }} {{ solute_mask }} {{ solvent_mask }} intrdf {{ name }}.intrdf.dat rawrdf {{ name }}.rawrdf.dat volume
run
exit
